{
  "appearance": {
    "theme": "system",
    "size": "m"
  },
  "behavior": {
    "hide-on-blur": true,
    "hide-on-launch": true,
    "pinned": false,
    "autostart": false
  },
  "status": {
    "mode": "temps"
  },
  "logging": {
    "level": "info"
  }
}
